<header class="header_sticky header_shadow fixed">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="logo_home">
          <h1>
            <%= link_to Settings.global.site_title, root_path %>
          </h1>
        </div>
      </div>
      <nav class="col-lg-9 col-6">
        <div class="main-menu">
          <ul>
            <li class="submenu">
              <%= link_to questions_url do %>
                <i class="icon-question"></i><%= t "global.menu.ask_doctor" %>
              <% end %>
            </li>
          </ul>
          <div class="user_menu">
            <ul>
              <%= render "shared/user_menu" %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
